//
   Created by Kaan on 06/08/15.
extends layout

block content
    div#site-header-container
        ul
            li
                a(href='#Boogle') Boogle
            li
                a(href='#ClipUniverse') ClipUniverse
            li
                a(href='#eTeam') eTeam
            li
                a(href='#EOS') EOS
            li
                a(href='#InBetween') InBetween
            li
                a(href='#MAM') MAM
            li
                a(href='#Mantra') Mantra
            li
                a(href='#PDP') PDP
            li
                a(href='#PICenter') PICenter
            li
                a(href='#TMS') TMS
            li(style="float:right;")
                div#listIcon(style='cursor: pointer; margin-right: 30px; margin-top: -3px;')
                    a
                        svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="24" height="24" viewBox="0 0 511.626 511.627" style="enable-background:new 0 0 511.626 511.627;"
                        xml:space="preserve")
                            g
                                g
                                    path(d="M118.771,200.999H27.406c-7.611,0-14.084,2.664-19.414,7.994C2.663,214.32,0,220.791,0,228.407v54.823\
                                    c0,7.61,2.663,14.078,7.992,19.406c5.33,5.329,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.665,19.414-7.994\
                                    c5.33-5.328,7.992-11.796,7.992-19.406v-54.823c0-7.616-2.662-14.087-7.992-19.414S126.382,200.999,118.771,200.999z")
                                    path(d="M118.771,54.814H27.406c-7.611,0-14.084,2.663-19.414,7.993C2.663,68.137,0,74.61,0,82.221v54.821\
                                    c0,7.616,2.663,14.091,7.992,19.417c5.33,5.327,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.667,19.414-7.994\
                                    s7.992-11.798,7.992-19.414V82.225c0-7.611-2.662-14.084-7.992-19.417C132.855,57.48,126.382,54.814,118.771,54.814z")
                                    path(d="M118.771,347.177H27.406c-7.611,0-14.084,2.662-19.414,7.994C2.663,360.502,0,366.974,0,374.585v54.826\
                                    c0,7.61,2.663,14.086,7.992,19.41c5.33,5.332,11.803,7.991,19.414,7.991h91.365c7.611,0,14.084-2.663,19.414-7.991\
                                    c5.33-5.324,7.992-11.8,7.992-19.41v-54.826c0-7.611-2.662-14.083-7.992-19.411S126.382,347.177,118.771,347.177z")
                                    path(d="M484.215,200.999H210.131c-7.614,0-14.084,2.664-19.414,7.994s-7.992,11.798-7.992,19.414v54.823\
                                    c0,7.61,2.662,14.078,7.992,19.406c5.327,5.329,11.8,7.994,19.414,7.994h274.091c7.61,0,14.085-2.665,19.41-7.994\
                                    c5.332-5.328,7.994-11.796,7.994-19.406v-54.823c0-7.616-2.662-14.087-7.997-19.414\
                                    C498.3,203.663,491.833,200.999,484.215,200.999z")
                                    path(d="M484.215,347.177H210.131c-7.614,0-14.084,2.662-19.414,7.994c-5.33,5.331-7.992,11.8-7.992,19.41v54.823\
                                    c0,7.611,2.662,14.089,7.992,19.417c5.327,5.328,11.8,7.987,19.414,7.987h274.091c7.61,0,14.085-2.662,19.41-7.987\
                                    c5.332-5.331,7.994-11.806,7.994-19.417v-54.823c0-7.61-2.662-14.085-7.997-19.41C498.3,349.846,491.833,347.177,484.215,347.177z")
                                    path(d="M503.629,62.811c-5.329-5.327-11.797-7.993-19.414-7.993H210.131c-7.614,0-14.084,2.663-19.414,7.993\
                                    s-7.992,11.803-7.992,19.414v54.821c0,7.616,2.662,14.083,7.992,19.414c5.327,5.327,11.8,7.994,19.414,7.994h274.091\
                                    c7.61,0,14.078-2.667,19.41-7.994s7.994-11.798,7.994-19.414V82.225C511.626,74.613,508.964,68.141,503.629,62.811z")
                ul
                    div
                        li#itemAddButton(style='cursor: pointer;')
                            // Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
                            svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='24', height='24', viewbox='0 0 844.801 844.801', style='enable-background:new 0 0 844.801 844.801;', xml:space='preserve')
                                g
                                    path(d='M30,532.4h282.4v282.4c0,16.6,13.4,30,30,30h160c16.6,0,30-13.4,30-30V532.4h282.4c16.6,0,30-13.4,30-30v-160\
                                    c0-16.6-13.4-30-30-30H532.4V30c0-16.6-13.4-30-30-30h-160c-16.6,0-30,13.4-30,30v282.4H30c-16.6,0-30,13.4-30,30v160\
                                    C0,519,13.4,532.4,30,532.4z')
                        li#editButton(style='cursor: pointer;')
                            svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="24" height="24" viewBox="0 0 528.899 528.899" style="enable-background:new 0 0 528.899 528.899;"
                            xml:space="preserve")
                                g
                                    path(d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981\
                                    c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611\
                                    C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069\
                                    L27.473,390.597L0.3,512.69z")
                        li#itemCloseButton(style='cursor: pointer;')
                            svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="24" height="24" viewBox="0 0 579.359 579.358" style="enable-background:new 0 0 579.359 579.358;"
                            xml:space="preserve")
                                g
                                    path(d="M434.518,238.169v-93.33C434.518,64.994,369.56,0,289.679,0C209.816,0,144.84,64.994,144.84,144.839v93.33h72.421v-93.33c-0.003-39.96,32.476-72.421,72.418-72.421c39.924,0,72.421,32.463,72.421,72.421v93.33H434.518z")
                                    path(d="M72.419,325.887v181.051c0,39.994,32.427,72.421,72.421,72.421h289.681c39.991,0,72.418-32.427,72.418-72.421V325.887c0-39.994-32.427-72.421-72.421-72.421H144.84C104.846,253.469,72.419,285.893,72.419,325.887z M289.679,362.09c19.997,0,36.209,16.196,36.209,36.209c0,13.259-7.479,24.364-18.106,30.658v59.866c0,10.009-8.097,18.105-18.105,18.105c-10.009,0-18.106-8.097-18.106-18.105v-59.866c-10.627-6.294-18.106-17.399-18.106-30.658C253.47,378.292,269.682,362.099,289.679,362.099z")
    div#fullpage
        div.section
            div#embed1.timeline
        div.section
            div#embed2.timeline
        div.section
            div#embed3.timeline
        div.section
            div#embed4.timeline
        div.section
            div#embed5.timeline
        div.section
            div#embed6.timeline
        div.section
            div#embed7.timeline
        div.section
            div#embed8.timeline
        div.section
            div#embed9.timeline
        div.section
            div#embed10.timeline
    div#loadingBackground
        div#addItemDialog
            form#addItemForm(enctype="multipart/form-data")
                h3 New Item
                input.datepickers(type="text", placeholder='Begin Date dd/mm/yyyy' name="bDate" required)
                input.datepickers(type='text', placeholder='End Date dd/mm/yyyy' name="eDate" required)
                input(type='text', placeholder='Title' name="title" required)
                textarea(placeholder='Description' name="description" required)
                input(type='text', placeholder='JIRA ID' name="jiraId" required)
                select(name="timelineName" required)
                    option(value='Boogle') Boogle
                    option(value='ClipUniverse') ClipUniverse
                    option(value='eTeam') eTeam
                    option(value='EOS') EOS
                    option(value='InBetween') InBetween
                    option(value='MAM') MAM
                    option(value='Mantra') Mantra
                    option(value='PDP') PDP
                    option(value='PICenter') PICenter
                    option(value='TMS') TMS
                textarea.tags( placeholder="Type Team Members" name="teamMembers")
                label.fileInput-label Browse
                    input(type="file" name="photo" accept=".jpg,.png")
                input(type='submit', value='Submit')
        div#editItemDialog
            form#editItemForm(action="/EditItem" method="POST" enctype="multipart/form-data")
                h3 Edit Item
                input.datepickers(type="text", placeholder='Begin Date dd/mm/yyyy' name="bDate" )
                input.datepickers(type='text', placeholder='End Date dd/mm/yyyy' name="eDate" )
                input(type='text', placeholder='Title' name="title" )
                textarea(placeholder='Description' name="description" )
                input(type='text', placeholder='JIRA ID' name="jiraId" )
                input(style='display: none;' type='text' name="postId")
                input(style='display: none;' type='text' name="postTimeline")
                textarea.tags( placeholder="Type Team Members" name="teamMembers")
                label.fileInput-label Change Picture
                    input#editPicture(type="file" name="photoEdit" accept=".jpg,.png")
                input(type='submit' value='Submit')
                input#deletePostButton(type='button', value='DELETE')

    div#dialog-confirm(title="Remove item?")
        p   Well well well removing an item... Are you sure?


