doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/fullPage/jquery.fullPage.css')
        link(title='timeline-styles', rel='stylesheet', href='https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css')
        link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/siteStyle.css')
    body
        block content

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/fullPage/jquery.fullPage.min.js')
    script(src='//cdn.knightlab.com/libs/timeline3/latest/js/timeline-min.js')
    script(type='text/javascript', src='/javascripts/siteScript.js')
    script(type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
